.GroceryList-Entry-row {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 10px 0;
    border: 1px solid rgb(218, 218, 218);
}

.GroceryList-Entry-row > td:nth-child(1) {
    justify-content: flex-start;
}

.EntryName, .EntryPriority, .EntryStatus, .EntryLastChanged {
    margin-left: 0.5rem;
}